name: Build

on: ["push"]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    env:
      CIBW_ARCHS_MACOS: "x86_64 universal2 arm64"
    strategy:
      matrix:
        os: [ubuntu-20.04, macos-11]
        cibw_archs: ["auto64"]
        include:
          - os: ubuntu-20.04
            cibw_archs: "aarch64"


    steps:
      - name: Set up QEMU
        if: matrix.cibw_archs == 'aarch64'
        uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64

      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.11.3
        env:
          CIBW_BUILD: "cp3*"
          CIBW_SKIP: "*-musllinux*"
          CIBW_ARCHS: ${{ matrix.cibw_archs }}
          CIBW_REPAIR_WHEEL_COMMAND_LINUX: >
            python scripts/repair-wheel.py \
              --wheel-dir {dest_dir} \
              {wheel}
          CIBW_REPAIR_WHEEL_COMMAND_MACOS: >
            python scripts/repair-wheel.py \
              --verbose \
              --require-archs {delocate_archs} \
              --wheel-dir {dest_dir} {wheel}
          CIBW_BUILD_VERBOSITY: 1

      - uses: actions/upload-artifact@v3
        with:
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Build sdist
        run: pipx run build --sdist

      - uses: actions/upload-artifact@v3
        with:
          path: dist/*.tar.gz

  upload_pypi:
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v3
        with:
          # unpacks default artifact into dist/
          # if `name: artifact` is omitted, the action will create extra parent dir
          name: artifact
          path: dist

      - uses: pypa/gh-action-pypi-publish@v1.5.0
        with:
          user: __token__
          password: ${{ secrets.pypi_password }}